.Home {
	padding: 2em;

	.new-analysis-container {
		text-align: center;
		margin: 7em 0;

		.NewAnalysis {
			font-size: 200%;
		}

		@media screen and (max-width: 700px) {
			& {
				margin: 5em 0;

				.NewAnalysis {
					font-size: 150%;
				}
			}
		}
		@media screen and (max-width: 450px) {
			& {
				.NewAnalysis {
					font-size: 130%;
				}
			}
		}
		@media screen and (max-width: 400px) {
			& {
				margin: 3em 0;

				.NewAnalysis {
					font-size: 115%;
				}
			}
		}
		@media screen and (max-width: 350px) {
			& {
				.NewAnalysis {
					font-size: 100%;
				}
			}
		}
	}

	.features {
		padding: 1em;

		--gap: 3em;
		--count: 4;

		display: flex;
		flex-flow: row wrap;
		column-gap: var(--gap);
		row-gap: 1em;

		.feature {
			box-sizing: border-box;
			width: calc((100% - var(--gap) * (var(--count) - 1)) / var(--count));

			h4 {
				font-size: 130%;
				font-weight: normal;
				margin: 0;
			}
		}

		@media screen and (max-width: 1000px) {
			& {
				--count: 2;
			}
		}

		@media screen and (max-width: 600px) {
			& {
				padding: 1em 0;

				--count: 1;
			}
		}
	}
}
