@import "../colors.scss";

.Results {
	padding: 1em 2em 2em 2em;

	p.loading {
		color: $grey6;
	}

	@media screen and (max-width: 600px) {
		& {
			padding: 0 0 2em 0;
		}

		p.loading {
			padding: 0 1em;
		}
	}
}

.ResultLabel {
	display: inline-block;
	border: 1px solid $grey4;
	border-radius: 0.3em;
	background-color: $grey2;
	color: $black;

	.CenterAlignTwo > * {
		padding: 0.33em 0.66em;
		box-shadow: 0 0.1em 0.4em inset $grey3;
	}
	.left {
		border-right: 1px solid $grey4;
		.Icon {
			top: auto;
		}
	}
	.right {
		font-size: 90%;
		word-break: break-word;
		.text {
			line-height: 1.4em;
			max-height: 1.4em * 3;
			display: inline-block;
			overflow: hidden;
		}
	}
}
