@import "../colors.scss";

.Result {
	padding: 1em 2em 2em 2em;

	@media screen and (max-width: 600px) {
		& {
			padding: 0 0 2em 0;
		}
	}
}

.ResultSummary {
	padding: 0 1em;

	.summary {
		color: $black;
		margin-bottom: 0.75em;
	}
	.details {
		color: $grey6;
		margin-top: 0.75em;
	}
}

.ResultSeedView {
	border-top: 1px solid $grey3;

	& > .header {
		background-color: $grey1;
		padding: 0.66em 1em;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2em;

		& > div {
			grid-row: 1 / auto;
		}
	}
	& > .alignment {
		border-top: 1px solid $grey3;
		padding: 1em;
	}
}

.ResultLabel {
	display: inline-block;
	border: 1px solid $grey4;
	border-radius: 0.3em;
	background-color: $grey2;
	color: $black;

	.ItemResultLabel {
		& > * {
			padding: 0.33em 0.66em;
			box-shadow: 0 0.1em 0.4em inset $grey3;
		}
		.left {
			border-right: 1px solid $grey4;
			.Icon {
				top: auto;
			}
		}
		.right {
			word-break: break-word;
		}
	}

	.DocumentResultLabel {
		padding: 0.33em 0.66em;
		box-shadow: 0 0.1em 0.4em inset $grey3;
		display: inline-block;
	}

	.text {
		font-size: 90%;
		line-height: 1.4em;
		max-height: 1.4em * 3;
		overflow: hidden;
	}
}
