@import "../colors.scss";

.AlignmentView {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2em;
	word-break: break-word;

	& > .left,
	& > .right {
		padding: 0.1em 0;
	}
	& > .left {
		grid-column: 1;
	}
	& > .right {
		grid-column: 2;
	}

	.unchanged {
		background-color: $light-green;
		text-shadow: 0 0.1em 0.1em $white;
	}
}

.Omitted {
	font-style: italic;
	color: $grey5;
}
