@import "../colors.scss";

.Badge {
	white-space: nowrap;
	font-weight: bold;
	border-radius: 1em;
	padding: 0.1em 0.5em;
	font-size: 90%;

	&.Dark {
		background-color: $grey8;
		color: $white;
	}
	&.Light {
		background-color: $grey6;
		color: $white;
	}
}
