@import "../colors.scss";

.SmallHeader {
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em 2em;
	position: relative;

	img {
		max-height: 85px;
	}

	.NewAnalysis {
		position: absolute;
		top: calc(1em + 40px);
		right: 2em;
	}

	@media screen and (max-width: 600px) {
		& {
			text-align: center;
			padding: 1em;
		}
		.NewAnalysis {
			display: none;
		}
	}
}

.BigHeader {
	color: $white;
	position: relative;
	height: 325px;
	max-width: 1920px;
	margin: 0 auto;

	.logo-row {
		padding: 50px;
		img {
			max-width: 350px;
		}
	}
	.slogan-row {
		font-size: 30px;
		padding: 0 60px;
	}
}

#Page.big-header {
	background-position: 50% -25px;
	background-image: url("../../assets/images/background.min.svg");
	background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
	.BigHeader {
		.logo-row {
			padding: 40px 50px;
		}
		.slogan-row {
			padding: 0 60px;
		}
	}
}

@media screen and (max-width: 800px) {
	.BigHeader {
		height: 275px;
		.logo-row {
			padding: 25px 0;
			text-align: center;
		}
		.slogan-row {
			padding: 0 1em;
			font-size: 25px;
			text-align: center;
		}
	}
	#Page.big-header {
		background-position: 50% -75px;
	}
}

@media screen and (max-width: 600px) {
	.BigHeader {
		.slogan-row {
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 375px) {
	.BigHeader {
		.logo-row {
			img {
				max-width: 300px;
			}
		}
	}
}
