@import "../colors.scss";

.OverviewContainer {
	border: 1px solid $grey3;
	border-radius: 0.3em;
	overflow: auto;

	@media screen and (max-width: 600px) {
		& {
			border-radius: 0;
			border-left: none;
			border-right: none;
		}
	}

	& > .head {
		background-color: $grey1;
		display: flex;
		border-bottom: 1px solid $grey3;

		& > a {
			flex-shrink: 0;
			border: none;
			border-right: 1px solid $grey3;
			border-radius: 0;
			padding: 0.75em 1em;
			height: auto;
			width: 1.5em;
			position: relative;

			--button-background: transparent;

			.Icon {
				font-size: 200%;
				font-weight: bold;

				position: absolute;
				user-select: none;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		& > div {
			flex-grow: 1;
			padding: 0.75em 1em;
		}
	}
}

.ResultsOverview,
.ItemResultsOverview {
	.Badge {
		font-size: 85%;

		.LoaderAnimation {
			margin-right: 0.5em;
			font-weight: normal;
		}
	}

	.CenterAlignTwo {
		gap: 0.5em;
	}

	.head .Label {
		color: $grey6;

		.Icon {
			// The icon used here should be just a little more down
			top: -0.05em;
		}
	}

	.content {
		& > div:not(:first-child) {
			border-top: 1px solid $grey3;
		}

		a {
			display: block;
			padding: 0.75em 1em;
			border: none;
			border-radius: 0;
			height: auto;
			white-space: normal;
		}
	}
}

.ResultsOverview {
	.content {
		.Label {
			font-size: 120%;
		}
	}
}

.ItemResultsOverview,
.CollectionResultsOverview {
	.no-results {
		padding: 0.75em 1em;
		color: $grey6;
		font-style: italic;
	}

	.item-vs {
		.vs {
			margin: 0 1em;
			font-weight: bold;
		}
	}
}
