@import "../colors.scss";

.StepSelector {
	font-size: 125%;
	color: $black;

	.Button {
		border: 1px solid var(--button-border-color);
	}

	.Icon {
		margin-right: 0.5em;
	}
}

.StepSelectorGroup {
	--group-heading-height: 3em;
	margin: 1em 2em 2em 2em;

	& > .Group > * > .heading-wrapper {
		width: 100%;
		text-align: center;
		position: relative;

		& > .StepSelector {
			@media screen and (max-width: 600px) {
				& {
					.Icon {
						margin-right: 0;
					}
					.text {
						display: none;
					}
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		& {
			margin: 0;

			& > .Group > .group-container {
				border-radius: 0;
				border-left: none;
				border-right: none;
			}
		}
	}
}
