// Core colors
$main-blue: #4679BD;
$main-green: #5CB85C;
$main-red: #D9534F;
$main-yellow: #F0AD4E;
$white: #fff;
$black: #000;

// Grey colors
$grey1: #f5f5f5;
$grey2: #dbdbdb;
$grey3: #bfbfbf;
$grey4: #a5a5a5;
$grey5: #8c8c8c;
$grey6: #666666;
$grey7: #4c4c4c;
$grey8: #333333;
