// Core colors
$main-blue: #4679bd;
$main-green: #5cb85c;
$main-red: #d9534f;
$main-yellow: #f0ad4e;
$white: #fff;
$black: #000;

// Extended colors
$bold-blue: #428bca;
$light-blue: #66afe9;
$light-green: #a8d975;
$dark-green-1: #4cae4c;
$dark-green-2: #449d44;
$dark-green-3: #398439;
$dark-red-1: #a94442;
$dark-red-2: #c9302c;
$dark-red-3: #ac2925;

// Grey colors
$grey1: #f7f7f7;
$grey2: #e4e4e4;
$grey3: #bfbfbf;
$grey4: #a5a5a5;
$grey5: #8c8c8c;
$grey6: #666;
$grey7: #4c4c4c;
$grey8: #333;
$grey9: #1c1c1c;
