// Core colors
$main-blue: #4679bd;
$main-green: #5cb85c;
$main-red: #d9534f;
$main-yellow: #f0ad4e;
$white: #fff;
$black: #000;

// Extended colors
$light-green: #a8d975;

// Grey colors
$grey1: #f5f5f5;
$grey2: #dbdbdb;
$grey3: #bfbfbf;
$grey4: #a5a5a5;
$grey5: #8c8c8c;
$grey6: #666;
$grey7: #4c4c4c;
$grey8: #333;
